<strong>Olá, {{deliverman}}</strong>
<p>Existe uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{recipient}}<br/>
  <strong>Endereço: </strong> {{address}}<br/><br/>
  <small>A encomenda está disponível para retirada.</small>
</p>
